@import "tailwindcss";

:root {
  --primary-bg: #09284b;
  --surface-cards: #123a63;
  --surface-2: #1e293b;
  --border: #334155;
  --text-primary: #ffffff;
  --text-secondary: #cbd5e1;
  --text-muted: #94a3b8;
  --accent: #00d2c6;
  --accent-light: #3de0d4;
  --accent-gradient: linear-gradient(90deg, var(--accent), var(--accent-light));
}
@media (prefers-color-scheme: dark) {
  
}

body {
  background: var(--primary-bg);
  color: var(--text-primary);
  border: var(--border);
  font-family: Arial, Helvetica, sans-serif;
}
