@import "tailwindcss";

:root {
  /* 70% Main Background */
  --primary-bg: #0c264b;

  /* 30% Main Accent */
  --secondary-color: #0bccc1;

  /* 10% Highlight */
  --highlight-color: #07ebd1;

  /* Text */
  --text-light: #ffffff;
  --text-muted: #b8c5d6;

  /* Cards */
  --card-bg: #102f5c;

  /* Borders */
  --border-color: rgba(11, 204, 193, 0.2);
}
@media (prefers-color-scheme: dark) {
  
}

body {
  .bg-main {
      background: var(--primary-bg);
    }
  
    .text-main {
      color: var(--secondary-color);
    }
  
    .glow {
      color: var(--highlight-color);
    }
  font-family: Arial, Helvetica, sans-serif;
}
